In [2]:
install.packages('ElemStatLearn')

Warning message:
“unable to access index for repository https://cran.r-project.org/src/contrib:
  cannot download all files”Warning message:
“package ‘devtools’ is not available (for R version 3.3.2)”

In [8]:
require(devtools)

Loading required package: devtools
Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘devtools’”

In [7]:
library(DAGG)

ERROR: Error in library(DAGG): there is no package called ‘DAGG’

In [9]:
Steam<-read.table("Steam1.txt", header=TRUE)

In [15]:
ls1<-lm(y~x1+x2+x3+x4+x5+x6+x7+x8+x9, data=Steam)
ls0<-lm(y~1,data=Steam)
summary(ls0)

Call:
lm(formula = y ~ 1, data = Steam)

Residuals:
   Min     1Q Median     3Q    Max
-3.064 -1.024 -0.284  1.516  3.086

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   9.4240     0.3261    28.9   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.631 on 24 degrees of freedom

No te R-squared per que la estimacio($9.240$) Es igual a la mitjana de y

In [14]:
summary(ls1)

Call:
lm(formula = y ~ x1 + x2 + x3 + x4 + x5 + x6 + x7 + x8 + x9,
    data = Steam)

Residuals:
    Min      1Q  Median      3Q     Max
-1.0726 -0.3670  0.0758  0.2942  1.0436

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.227769   7.833663  -0.029  0.97719
x1           0.197252   0.635859   0.310  0.76067
x2           5.763660   4.466510   1.290  0.21644
x3           1.985020   0.861398   2.304  0.03592 *
x4           0.132288   0.231817   0.571  0.57668
x5          -0.046401   0.060859  -0.762  0.45762
x6          -0.005743   0.027373  -0.210  0.83664
x7          -0.069204   0.018456  -3.750  0.00193 **
x8          -0.139526   0.060742  -2.297  0.03643 *
x9          -0.318685   0.239128  -1.333  0.20252
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.644 on 15 degrees of freedom
Multiple R-squared:  0.9025,	Adjusted R-squared:  0.844
F-statistic: 15.43 on 9 and 15 DF,  p-value: 4.667e-06

In [17]:
add1(ls0,"x1")

       Df Sum of Sq RSS      AIC
<none> NA       NA  63.81580 25.42812
x1      1 9.369767  54.44603 23.45835

add1(ls0,"x1") es com fer ls0.1<-lm(y~1+x1, data="Steam")

Veiem que la predicció ha millorat(Per que baixa la RSS, suma de quadrats residuals)

RSS Sempre baixa cada vegada que posem una nova variable, AIC baixa si la variable millora la predixio si no puja.

In [18]:
add1(ls0,"x2")

       Df Sum of Sq RSS      AIC
<none> NA       NA  63.81580 25.42812
x2      1 5.957714  57.85809 24.97793

In [19]:
add1(ls0,"x3")

       Df Sum of Sq RSS     AIC
<none> NA      NA   63.8158 25.42812
x3      1 14.3566   49.4592 21.05681

In [20]:
add1(ls0,"x4")

       Df Sum of Sq RSS      AIC
<none> NA      NA   63.81580 25.42812
x4      1 1.19318   62.62262 26.95627

Veiem que la variable x4 no aporta a la reggressió aixi que la trauriam

In [21]:
summary(ls0)

Call:
lm(formula = y ~ 1, data = Steam)

Residuals:
   Min     1Q Median     3Q    Max
-3.064 -1.024 -0.284  1.516  3.086

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   9.4240     0.3261    28.9   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.631 on 24 degrees of freedom

Amb drop1(ls1,'x1') podem anar treient predictors. I aixi veurem si millora l'AIC

In [22]:
drop1(ls1,'x1')

       Df Sum of Sq  RSS      AIC
<none> NA         NA 6.221437 -14.77187
x1      1 0.03991365 6.261351 -16.61200

Veiem que millora treien X1

In [24]:
drop1(ls1,'x2')

       Df Sum of Sq RSS      AIC
<none> NA        NA 6.221437 -14.77187
x2      1 0.6906524 6.912090 -14.14010

El x2 no l'hauriem de treure, empitjora

In [25]:
drop1(ls1,'x3')

       Df Sum of Sq RSS      AIC
<none> NA       NA  6.221437 -14.771871
x3      1 2.202529  8.423966  -9.194876

In [26]:
drop1(ls1,'x4')

       Df Sum of Sq RSS      AIC
<none> NA        NA 6.221437 -14.77187
x4      1 0.1350676 6.356505 -16.23493

step(ls1) fa automaticament el que estabam fent. Li hem de pasar un amb tots els predictors o sense ningun.

Step ja hanira treient d'un en un tots el predictors i elimina de la recta el que tingui una menor AIC

In [27]:
step(ls1)

Start:  AIC=-14.77
y ~ x1 + x2 + x3 + x4 + x5 + x6 + x7 + x8 + x9

       Df Sum of Sq     RSS      AIC
- x6    1    0.0183  6.2397 -16.6986
- x1    1    0.0399  6.2614 -16.6120
- x4    1    0.1351  6.3565 -16.2349
- x5    1    0.2411  6.4625 -15.8213
<none>               6.2214 -14.7719
- x2    1    0.6907  6.9121 -14.1401
- x9    1    0.7366  6.9581 -13.9743
- x8    1    2.1884  8.4098  -9.2369
- x3    1    2.2025  8.4240  -9.1949
- x7    1    5.8314 12.0529  -0.2394

Step:  AIC=-16.7
y ~ x1 + x2 + x3 + x4 + x5 + x7 + x8 + x9

       Df Sum of Sq     RSS      AIC
- x1    1    0.0462  6.2859 -18.5142
- x4    1    0.1455  6.3852 -18.1223
- x5    1    0.2587  6.4984 -17.6829
<none>               6.2397 -16.6986
- x2    1    0.6959  6.9356 -16.0551
- x9    1    0.7437  6.9834 -15.8837
- x8    1    2.1822  8.4219 -11.2011
- x3    1    2.1981  8.4378 -11.1539
- x7    1   11.7123 17.9520   7.7207

Step:  AIC=-18.51
y ~ x2 + x3 + x4 + x5 + x7 + x8 + x9

       Df Sum of Sq     RSS      AIC
- x4    1    0.3000  6.5859 -19.3485
- x5    1    0.3598  6.6457 -19.1228
<none>               6.2859 -18.5142
- x9    1    0.7015  6.9874 -17.8692
- x8    1    2.5254  8.8113 -12.0710
- x3    1    2.5653  8.8512 -11.9581
- x2    1    4.7390 11.0249  -6.4679
- x7    1   11.6798 17.9657   5.7397

Step:  AIC=-19.35
y ~ x2 + x3 + x5 + x7 + x8 + x9

       Df Sum of Sq     RSS      AIC
<none>               6.5859 -19.3485
- x5    1    0.6317  7.2176 -19.0587
- x9    1    1.1531  7.7391 -17.3149
- x3    1    2.8405  9.4265 -12.3839
- x8    1    2.9010  9.4869 -12.2240
- x2    1    7.2384 13.8243  -2.8112
- x7    1   12.5365 19.1225   5.2997

Call:
lm(formula = y ~ x2 + x3 + x5 + x7 + x8 + x9, data = Steam)

Coefficients:
(Intercept)           x2           x3           x5           x7           x8
    3.47721      7.88356      2.15116     -0.06817     -0.06783     -0.15287
         x9
   -0.37100

In [30]:
ls.optim1<-lm(y ~ x2 + x3 + x5 + x7 + x8 + x9,data=Steam)
summary(ls.optim1)

Call:
lm(formula = y ~ x2 + x3 + x5 + x7 + x8 + x9, data = Steam)

Residuals:
    Min      1Q  Median      3Q     Max
-1.0485 -0.3045  0.1538  0.3685  1.1343

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  3.47721    3.01586   1.153 0.264002
x2           7.88356    1.77245   4.448 0.000311 ***
x3           2.15116    0.77205   2.786 0.012189 *
x5          -0.06817    0.05188  -1.314 0.205350
x7          -0.06783    0.01159  -5.854 1.52e-05 ***
x8          -0.15287    0.05429  -2.816 0.011442 *
x9          -0.37100    0.20898  -1.775 0.092761 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.6049 on 18 degrees of freedom
Multiple R-squared:  0.8968,	Adjusted R-squared:  0.8624
F-statistic: 26.07 on 6 and 18 DF,  p-value: 6.011e-08


Podem fer step al reves

In [31]:
step(ls0,"~x1+x2+x3+x4+x5+x6+x7+x8+x9")

Start:  AIC=25.43
y ~ 1

       Df Sum of Sq    RSS     AIC
+ x7    1    45.592 18.223 -3.9042
+ x6    1    26.192 37.624 14.2192
+ x3    1    14.357 49.459 21.0568
+ x5    1    10.739 53.077 22.8216
+ x8    1     9.934 53.882 23.1981
+ x1    1     9.370 54.446 23.4584
+ x9    1     9.318 54.497 23.4820
+ x2    1     5.958 57.858 24.9779
<none>              63.816 25.4281
+ x4    1     1.193 62.623 26.9563

Step:  AIC=-3.9
y ~ x7

       Df Sum of Sq    RSS      AIC
+ x1    1     9.292  8.931 -19.7327
+ x2    1     8.438  9.785 -17.4508
+ x5    1     3.140 15.084  -6.6317
+ x4    1     2.623 15.600  -5.7902
+ x9    1     2.236 15.988  -5.1763
+ x6    1     1.712 16.511  -4.3711
<none>              18.223  -3.9042
+ x8    1     0.359 17.864  -2.4022
+ x3    1     0.224 17.999  -2.2134
- x7    1    45.592 63.816  25.4281

Step:  AIC=-19.73
y ~ x7 + x1

       Df Sum of Sq    RSS      AIC
<none>               8.931 -19.7327
+ x9    1     0.319  8.612 -18.6433
+ x4    1     0.238  8.693 -18.4090
+ x6    1     0.032  8.899 -17.8228
+ x8    1     0.015  8.917 -17.7738
+ x2    1     0.004  8.927 -17.7449
+ x5    1     0.003  8.929 -17.7404
+ x3    1     0.000  8.931 -17.7338
- x1    1     9.292 18.223  -3.9042
- x7    1    45.515 54.446  23.4584

Call:
lm(formula = y ~ x7 + x1, data = Steam)

Coefficients:
(Intercept)           x7           x1
    9.47422     -0.07976      0.76165

Ens ha donat un altre subconjunt amb menys predictors pero amb una AIC mes petita. 

El package leaps fa totes les convinacions de predictors.

# Comentaris a l'entrega

In [45]:
require(MASS)
data(Boston)
summary(Boston)

      crim                zn             indus            chas
 Min.   : 0.00632   Min.   :  0.00   Min.   : 0.46   Min.   :0.00000
 1st Qu.: 0.08204   1st Qu.:  0.00   1st Qu.: 5.19   1st Qu.:0.00000
 Median : 0.25651   Median :  0.00   Median : 9.69   Median :0.00000
 Mean   : 3.61352   Mean   : 11.36   Mean   :11.14   Mean   :0.06917
 3rd Qu.: 3.67708   3rd Qu.: 12.50   3rd Qu.:18.10   3rd Qu.:0.00000
 Max.   :88.97620   Max.   :100.00   Max.   :27.74   Max.   :1.00000
      nox               rm             age              dis
 Min.   :0.3850   Min.   :3.561   Min.   :  2.90   Min.   : 1.130
 1st Qu.:0.4490   1st Qu.:5.886   1st Qu.: 45.02   1st Qu.: 2.100
 Median :0.5380   Median :6.208   Median : 77.50   Median : 3.207
 Mean   :0.5547   Mean   :6.285   Mean   : 68.57   Mean   : 3.795
 3rd Qu.:0.6240   3rd Qu.:6.623   3rd Qu.: 94.08   3rd Qu.: 5.188
 Max.   :0.8710   Max.   :8.780   Max.   :100.00   Max.   :12.127
      rad              tax           ptratio          black
 Min.   : 1.000   Min.   :187.0   Min.   :12.60   Min.   :  0.32
 1st Qu.: 4.000   1st Qu.:279.0   1st Qu.:17.40   1st Qu.:375.38
 Median : 5.000   Median :330.0   Median :19.05   Median :391.44
 Mean   : 9.549   Mean   :408.2   Mean   :18.46   Mean   :356.67
 3rd Qu.:24.000   3rd Qu.:666.0   3rd Qu.:20.20   3rd Qu.:396.23
 Max.   :24.000   Max.   :711.0   Max.   :22.00   Max.   :396.90
     lstat            medv
 Min.   : 1.73   Min.   : 5.00
 1st Qu.: 6.95   1st Qu.:17.02
 Median :11.36   Median :21.20
 Mean   :12.65   Mean   :22.53
 3rd Qu.:16.95   3rd Qu.:25.00
 Max.   :37.97   Max.   :50.00